 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("https://images01.nicepagecdn.com/1d31148adef95e3516030f99/14683ceea35f5f0798248415/images.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-1 .u-text-1 {
  margin: 86px 706px 0 -434px;
}

.u-section-1 .u-group-1 {
  width: 251px;
  background-image: none;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  min-height: 293px;
  height: auto;
  margin: 34px auto 0 -14px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 234px;
  height: 278px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin: 26px -8px -11px auto;
}

.u-section-1 .u-text-2 {
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  margin: -266px 0 0 271px;
}

.u-section-1 .u-list-1 {
  width: 651px;
  margin: 18px 0 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 20.25px));
  min-height: 43px;
  grid-gap: 27px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  height: 46px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(153,153,153,0.4);
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -41px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-shape-2 {
  height: 46px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(153,153,153,0.4);
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -41px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-shape-3 {
  height: 46px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(153,153,153,0.4);
}

.u-section-1 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -41px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-shape-4 {
  height: 46px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(153,153,153,0.4);
}

.u-section-1 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -41px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 606px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 121px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: -20px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 174px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 209px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 87px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 80px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2553px;
}

.u-section-2 .u-slider-1 {
  min-height: 2398px;
  height: auto;
  margin-top: 106px;
  margin-bottom: 48px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 64px;
}

.u-section-2 .u-text-1 {
  margin: 29px 0 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 86px 0 0;
}

.u-section-2 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  font-size: 6rem;
  margin: 88px 0 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
  inset: auto auto 23.0935px 9.99137px;
  position: absolute;
  padding: 9px;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  inset: auto 10.0056px 23.1077px auto;
  position: absolute;
  padding: 9px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: -14px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.8125rem;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 15px;
    right: auto;
  }

  .u-section-2 .u-carousel-control-2 {
    left: auto;
    right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }
}